body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 50px;
}

.background p {
  margin: 0% 0 0 0;
}

@media (min-width: 768px) {
  .background p {
      margin: 6.5% 0 0 0;
  }
}

@media (min-width: 1024px) {
  .background p {
      margin: 0% 0 0 0;
  }
}

.background h1, .background p {
  color: white; /* Change text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow */
}

